.wbdv-sticky-top {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.wbdv-padding-5px {
    padding: 50px;
}

.heading-color {
    color: white;
}

.add-padding-right {
    padding-right: 30px;
}

.add-padding-top {
    padding-top: 0px;
}

.add-gap-color {
    height:30px;
    background-color: blue;
}

.nav-bar-bottom {
border-bottom: 30px solid hsl(0, 0%, 100%);
}

.add-header-padding-left {
    padding-left: 20px;
}

.add-active-color {
    background-color: Gray;
}

.add-tab-color {
    background-color: LightGray;
}