.wbdv-sticky-top {
    position: fixed;
    width: 100%;
    background-color: blue;
    z-index: 1;
}

.wbdv-padding-5px {
    padding: 50px;
}

.heading-color {
    color: white;
}

.add-padding-right {
    padding-right: 30px;
}

.add-padding-top {
    padding-top: 25px;
}

.add-gap-color {
    height:30px;
    background-color: blue;

}